.header {
    background-color: #1D1E33;
    left: 0;
    right: 0;
}

.header__navigation {
    display: flex;
    align-items: center;
    height: 77px;
    justify-content: space-evenly;
}

.header__name {
    color: aliceblue;
}

.navigation__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    list-style: none;
    color: #F9F9F9;
    font-style: normal;
}

.navigation__content li:hover {
    color: #FF1A1A;
    cursor: pointer;
}

.navigation__content a:hover {
    color: #FF1A1A;
    cursor: pointer;
}

.nav__link {
    text-decoration: none;
}

.nav__link:visited {
    color: #F9F9F9;
}

.navigation__aside {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;
    color: #F9F9F9;
}

.navigation__aside :hover {
    cursor: pointer;
}